#footer {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: right;
}

#footer a {
    color: #ffb049;
}
#footer a:visited {
    color: #ffb049;
}

#wrap, .ui, #itemHeld {
    position: fixed;
    width: 100%;
    height: 100%;
}
.ui {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
#itemHeld {
    z-index: 100;
    pointer-events: none;
}

#clock {
    color: white;
    --shadow-color: black;
    --shadow-size-pos: 1px;
    --shadow-size-neg: -1px;
    text-shadow:    var(--shadow-size-pos) var(--shadow-size-pos) var(--shadow-color),
                    var(--shadow-size-neg) var(--shadow-size-pos) var(--shadow-color),
                    var(--shadow-size-pos) var(--shadow-size-neg) var(--shadow-color),
                    var(--shadow-size-neg) var(--shadow-size-neg) var(--shadow-color);
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}

#grass {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-image: url('./../images/grass.png');
    background-size: 256px;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#dim {
    width: 100%;
    height: 100%;
    background-color: black;
}

#enemies {
    position: relative;
    flex: 0 0 460px;
    height: 460px;
    box-shadow: 0 0 5px 5px inset green;
    overflow: hidden;
}

#enemies > div {
    position: absolute;
    width: 10%;
    height: 10%;
    border: 1px solid red;
    box-sizing: border-box;
}

.enemy .bar.outer {
    height: 20%;
    background-color: red;
    overflow: hidden;
}

.enemy .bar.inner {
    height: 100%;
    background-color: green;
    transition: transform 300ms ease-out;
}

#backpack, #pouch, #equipment, #stats {
    position: relative;
    width: 100%;
    height: 100%;
}

#backpack {
    flex: 0 1 auto;
    overflow-y: scroll;
}

.item {
    --size: 80px;
    --margin: 2px;
    --border: 1px;

    position: relative;

    background-color: #ca9147;
    font-size: 12px;
    overflow: hidden;

    float: left;
    box-sizing: content-box;
    border: var(--border) solid black;
    width: calc(var(--size) - var(--margin) * 2 - var(--border) * 2);
    height: calc(var(--size) - var(--margin) * 2 - var(--border) * 2);
    margin: var(--margin);
}

.item * {
    pointer-events: none;
}

.item .box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.item .value {
    position: relative;
    width: 100%;
    height: 12px;
    text-align: center;
    background-color: #9b6a29;
    line-height: 10px;
}

.item .attack-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.item .stats {
    position: relative;
    width: 100%;
    height: 100%;
}

.item .box.left {
    text-align: left;
}
.item .box.right {
    text-align: right;
}

.item .box .text {
    display: none;
    position: relative;
    padding-left: 14px;
    padding-right: 14px;
}

.item .box .text .icon {
    position: absolute;
    display: block;
    width: 12px;
}
.item .box.left .text .icon {
    top: 0;
    left: 3px;
}
.item .box.right .text .icon {
    top: 0;
    right: 3px;
}

